* {
	font-size: 12px;
}

.table > thead > tr {
	height: 56px;
}

.table > thead > tr > th:first-child {
    position: fixed;
    display: inline-block;
    width: 200px;
    background-color: #212529;
    height: 56px;
}
.table > tbody > tr > th:first-child {
    position: fixed;
    display: inline-block;
    width: 200px;
    background-color: white;
    /*height: 100%;*/
}

.table > thead > tr > th:nth-child(2) {
    padding-left: 200px;
}

.table > tbody > tr > td:nth-child(2) {
    padding-left: 200px !important;
}

td {
	text-align: center;
}